In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
from pathlib import Path as P
import matplotlib.pyplot as plt
import plotly.express as px

In [34]:
ls *.csv

 驱动器 D 中的卷是 Data
 卷的序列号是 BE8C-D0EF

 D:\我的数据\研二上学期\华为杯\2022E 的目录

2022/10/06  20:54               473 单位羊和其他牲畜.csv
2022/10/07  09:51             2,324 附件10-低层植被叶面积指数LAIL-预处理.csv
2022/10/06  20:54             5,491 附件3-湿度-预处理.csv
2022/10/06  20:54             3,732 附件4-土壤蒸发量-预处理.csv
2022/10/07  09:51             3,163 附件6、植被指数-NDVI2012-2022年-预处理.csv
2022/10/07  09:57             1,277 附件7、锡林郭勒土壤基本数据-预处理.csv
2022/10/06  20:53            21,177 附件8-气候-合并.csv
2022/10/06  20:53            16,755 附件8-气候-预处理.csv
2022/10/07  09:52             4,768 附件9、径流量2012-2022年-预处理.csv
2022/10/07  09:41             2,040 各变量对土壤湿度因变量的相关系数.csv
2022/10/07  20:03             2,277 降水量.csv
2022/10/07  20:05             2,277 降水量P.csv
2022/10/07  20:07             2,154 实际蒸发量Et_a.csv
2022/10/07  20:04             2,632 土壤含水量W.csv
2022/10/06  21:54            18,135 问题1-附件15.csv
2022/10/06  20:54             7,553 问题2-原始训练数据.csv
2022/10/07  09:41            19,807 问题2-自变量因变量表.csv
2022/10/07  10:16             5,747 问题3-附件14.csv
2022/10/07  20:27             2,322 叶面积指数LAI.csv
2022/10/07  20:11             2,249 植被覆盖度cp.csv
              20 个文件        126,353 字节
               0 个目录 245,484,744,704 可用字节

土壤含水量W，即各个深度的土壤湿度之和。

In [40]:
df=pd.read_csv('./附件3-湿度-预处理.csv',index_col='time').drop(columns=[
    'month','year'
]).sort_index()
df=df.sum(axis=1)
df.name='土壤含水量（kg/m2）'
df.to_csv('土壤含水量W.csv')
W=df
df

time
2012-01-01    255.95
2012-02-01    255.22
2012-03-01    254.82
2012-04-01    254.02
2012-05-01    255.31
               ...
2021-11-01    324.00
2021-12-01    323.21
2022-01-01    322.52
2022-02-01    322.17
2022-03-01    325.01
Name: 土壤含水量（kg/m2）, Length: 123, dtype: float64

In [41]:
df=pd.read_csv('./附件8-气候-预处理.csv',index_col='time').drop(columns=[
    'month','year'
])['降水量(mm)'].sort_index()
df.to_csv('降水量P.csv')
P=df
df

time
2012-01-01      2.29
2012-02-01      2.29
2012-03-01     21.84
2012-04-01      6.10
2012-05-01     50.80
               ...
2022-03-01    115.57
2022-04-01      3.30
2022-05-01     13.21
2022-06-01     27.43
2022-07-01     29.21
Name: 降水量(mm), Length: 127, dtype: float64

In [42]:
df=pd.read_csv('附件4-土壤蒸发量-预处理.csv',index_col='time').drop(columns=[
    'month','year'
])['土壤蒸发量(mm)'].sort_index()
df.to_csv('实际蒸发量Et_a.csv')
Eta=df
df

time
2012-01-01     0.61
2012-02-01     0.86
2012-03-01     1.91
2012-04-01     7.20
2012-05-01    18.10
              ...
2021-11-01     1.44
2021-12-01     0.93
2022-01-01     0.44
2022-02-01     0.27
2022-03-01     5.98
Name: 土壤蒸发量(mm), Length: 123, dtype: float64

In [43]:
df=pd.read_csv('附件6、植被指数-NDVI2012-2022年-预处理.csv').drop(columns=[
    '月份','年份'
]).rename(columns={'时间':'time'}).set_index('time')['植被指数(NDVI)'].sort_index()
df.to_csv('植被覆盖度cp.csv')
cp=df
df

time
2012-01-01    0.002
2012-02-01    0.002
2012-03-01    0.120
2012-04-01    0.168
2012-05-01    0.195
              ...
2021-12-01    0.026
2022-01-01    0.010
2022-02-01    0.010
2022-03-01    0.187
2022-04-01    0.191
Name: 植被指数(NDVI), Length: 124, dtype: float64

In [44]:
df=pd.read_csv('附件10-低层植被叶面积指数LAIL-预处理.csv'
              ).rename(columns={'日期':'time'}).set_index('time')[
    '低层植被(LAIL,m2/m2)'
].sort_index()
df.to_csv('叶面积指数LAI.csv')
LAI=df
df

time
2012-01-01    0.63600
2012-02-01    0.65200
2012-03-01    0.71700
2012-04-01    0.72700
2012-05-01    0.73900
               ...
2022-03-01    0.71679
2022-04-01    0.72653
2022-05-01    0.73950
2022-06-01    0.82662
2022-07-01    0.96435
Name: 低层植被(LAIL,m2/m2), Length: 127, dtype: float64

In [62]:
Vars=[W,P,Eta,cp,LAI]
df=pd.concat(Vars,axis=1).dropna()

In [58]:
df

            土壤含水量（kg/m2）  降水量(mm)  土壤蒸发量(mm)  植被指数(NDVI)  低层植被(LAIL,m2/m2)
time
2012-01-01        255.95     2.29       0.61       0.002           0.63600
2012-02-01        255.22     2.29       0.86       0.002           0.65200
2012-03-01        254.82    21.84       1.91       0.120           0.71700
2012-04-01        254.02     6.10       7.20       0.168           0.72700
2012-05-01        255.31    50.80      18.10       0.195           0.73900
...                  ...      ...        ...         ...               ...
2021-11-01        324.00   530.86       1.44       0.239           0.71000
2021-12-01        323.21   193.80       0.93       0.026           0.64800
2022-01-01        322.52   607.31       0.44       0.010           0.63638
2022-02-01        322.17   796.04       0.27       0.010           0.65073
2022-03-01        325.01   115.57       5.98       0.187           0.71679

[123 rows x 5 columns]

In [63]:
df['土壤含水量差值（kg/m2）']=df['土壤含水量（kg/m2）'].diff()
df=df.dropna()
df

,土壤含水量（kg/m2）,降水量(mm),土壤蒸发量(mm),植被指数(NDVI),"低层植被(LAIL,m2/m2)",土壤含水量差值（kg/m2）
time,,,,,,
2012-02-01,255.22,2.29,0.86,0.002,0.65200,-0.73
2012-03-01,254.82,21.84,1.91,0.120,0.71700,-0.40
2012-04-01,254.02,6.10,7.20,0.168,0.72700,-0.80
2012-05-01,255.31,50.80,18.10,0.195,0.73900,1.29
2012-06-01,270.37,98.81,33.53,0.408,0.82700,15.06
...,...,...,...,...,...,...
2021-11-01,324.00,530.86,1.44,0.239,0.71000,-4.88
2021-12-01,323.21,193.80,0.93,0.026,0.64800,-0.79
2022-01-01,322.52,607.31,0.44,0.010,0.63638,-0.69
2022-02-01,322.17,796.04,0.27,0.010,0.65073,-0.35
2022-03-01,325.01,115.57,5.98,0.187,0.71679,2.84

In [64]:
df['累积降雨量（mm）']=df['降水量(mm)'].cumsum()
df

,土壤含水量（kg/m2）,降水量(mm),土壤蒸发量(mm),植被指数(NDVI),"低层植被(LAIL,m2/m2)",土壤含水量差值（kg/m2）,累积降雨量（mm）
time,,,,,,,
2012-02-01,255.22,2.29,0.86,0.002,0.65200,-0.73,2.29
2012-03-01,254.82,21.84,1.91,0.120,0.71700,-0.40,24.13
2012-04-01,254.02,6.10,7.20,0.168,0.72700,-0.80,30.23
2012-05-01,255.31,50.80,18.10,0.195,0.73900,1.29,81.03
2012-06-01,270.37,98.81,33.53,0.408,0.82700,15.06,179.84
...,...,...,...,...,...,...,...
2021-11-01,324.00,530.86,1.44,0.239,0.71000,-4.88,8226.82
2021-12-01,323.21,193.80,0.93,0.026,0.64800,-0.79,8420.62
2022-01-01,322.52,607.31,0.44,0.010,0.63638,-0.69,9027.93
2022-02-01,322.17,796.04,0.27,0.010,0.65073,-0.35,9823.97
2022-03-01,325.01,115.57,5.98,0.187,0.71679,2.84,9939.54

In [65]:
df.columns

Index(['土壤含水量（kg/m2）', '降水量(mm)', '土壤蒸发量(mm)', '植被指数(NDVI)',
       '低层植被(LAIL,m2/m2)', '土壤含水量差值（kg/m2）', '累积降雨量（mm）'],
      dtype='object')

In [66]:
W='土壤含水量（kg/m2）'
P='降水量(mm)'
Eta='土壤蒸发量(mm)'
cp='植被指数(NDVI)'
LAI='低层植被(LAIL,m2/m2)'
dW='土壤含水量差值（kg/m2）'
Rcum='累积降雨量（mm）'

In [68]:
ICmax=0.935+0.498*df[LAI]-0.00575*df[LAI]**2
ICmax.name='植被的最大截流量（mm）'
ICmax_val=ICmax
ICmax=ICmax_val.name

In [69]:
df[ICmax]=ICmax_val

In [73]:
ICstore='植被截流量（mm）'
df[ICstore]=df[P]-df[Eta]-df[dW]

In [81]:
df[ICstore][df[ICstore]<0]=0