In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
from pathlib import Path as P
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['KaiTi', 'SimHei', 'FangSong']  # 汉字字体,优先使用楷体，如果找不到楷体，则使用黑体
plt.rcParams['font.size'] = 12  # 字体大小
plt.rcParams['axes.unicode_minus'] = False  # 正常显示负号
from collections import defaultdict
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pickle

## 获取数据集

这里是要把问题所需的训练数据整理出来，基本上就是一个机器学习的数据集获取的过程。

这是土壤湿度W，每月的数据。注意：代码里面用符号H表示，实际上是W。

In [5]:
df=pd.read_csv('问题2-原训练数据.csv',index_col='time',parse_dates=True)
df_raw=df
df

,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(mm),降水量(mm),平均气温(℃)
time,,,,,,,
2012-01-01,13.73,30.87,42.79,168.56,0.61,2.29,-22.94
2012-02-01,13.00,30.87,42.79,168.56,0.86,2.29,-17.86
2012-03-01,12.60,30.87,42.79,168.56,1.91,21.84,-7.11
2012-04-01,11.97,30.73,42.76,168.56,7.20,6.10,6.94
2012-05-01,14.18,29.99,42.58,168.56,18.10,50.80,14.61
...,...,...,...,...,...,...,...
2021-11-01,13.91,52.17,93.43,164.49,1.44,530.86,-5.89
2021-12-01,13.14,52.14,93.45,164.48,0.93,193.80,-12.41
2022-01-01,12.45,52.14,93.45,164.48,0.44,607.31,-17.09
2022-02-01,12.10,52.14,93.45,164.48,0.27,796.04,-17.93
2022-03-01,14.96,52.13,93.44,164.48,5.98,115.57,-2.36

In [11]:
df=pd.read_csv('问题2-训练数据-归一化.csv',index_col='time',parse_dates=True)
scaler = pickle.load(P('问题2-MinMaxScaler-训练数据.pkl').open('rb'))
df

,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(mm),降水量(mm),平均气温(℃)
time,,,,,,,
2012-01-01,0.328250,0.036261,0.008417,1.000000,0.008720,0.002568,0.008070
2012-02-01,0.269663,0.036261,0.008417,1.000000,0.015132,0.002568,0.113180
2012-03-01,0.237560,0.036261,0.008417,1.000000,0.042062,0.024490,0.335609
2012-04-01,0.186998,0.031885,0.007829,1.000000,0.177738,0.006840,0.626319
2012-05-01,0.364366,0.008753,0.004306,1.000000,0.457297,0.056964,0.785020
...,...,...,...,...,...,...,...
2021-11-01,0.342697,0.702094,0.999609,0.002451,0.030008,0.595275,0.360852
2021-12-01,0.280899,0.701157,1.000000,0.000000,0.016927,0.217316,0.225947
2022-01-01,0.225522,0.701157,1.000000,0.000000,0.004360,0.681001,0.129112
2022-02-01,0.197432,0.701157,1.000000,0.000000,0.000000,0.892632,0.111732
2022-03-01,0.426966,0.700844,0.999804,0.000000,0.146448,0.129593,0.433892

In [12]:
scaler.scale_, scaler.data_range_

(array([0.08025682, 0.03125977, 0.0195733 , 0.24509804, 0.0256476 ,
        0.00112134, 0.02069108]),
 array([ 12.46,  31.99,  51.09,   4.08,  38.99, 891.79,  48.33]))

对变量进行最小最大值归一化（MinMaxScale），把变量的范围映射到0-1区间。

In [19]:
df['month']=df.index.month
df['year']=df.index.year-np.min(df.index.year)
df=df.sort_index(axis=1)
df.to_csv('问题2-训练数据-归一化-回归.csv')
df

,100cm湿度(kg/m2),10cm湿度(kg/m2),200cm湿度(kg/m2),40cm湿度(kg/m2),month,year,土壤蒸发量(mm),平均气温(℃),降水量(mm)
time,,,,,,,,,
2012-01-01,0.008417,0.328250,1.000000,0.036261,1,0,0.008720,0.008070,0.002568
2012-02-01,0.008417,0.269663,1.000000,0.036261,2,0,0.015132,0.113180,0.002568
2012-03-01,0.008417,0.237560,1.000000,0.036261,3,0,0.042062,0.335609,0.024490
2012-04-01,0.007829,0.186998,1.000000,0.031885,4,0,0.177738,0.626319,0.006840
2012-05-01,0.004306,0.364366,1.000000,0.008753,5,0,0.457297,0.785020,0.056964
...,...,...,...,...,...,...,...,...,...
2021-11-01,0.999609,0.342697,0.002451,0.702094,11,9,0.030008,0.360852,0.595275
2021-12-01,1.000000,0.280899,0.000000,0.701157,12,9,0.016927,0.225947,0.217316
2022-01-01,1.000000,0.225522,0.000000,0.701157,1,10,0.004360,0.129112,0.681001
2022-02-01,1.000000,0.197432,0.000000,0.701157,2,10,0.000000,0.111732,0.892632
2022-03-01,0.999804,0.426966,0.000000,0.700844,3,10,0.146448,0.433892,0.129593