In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
from pathlib import Path as P
import matplotlib.pyplot as plt
import plotly.express as px
import re

In [11]:
def parseQiangdu(s):
    x=re.match(r'\w牧（(\d+)天）', s).group(1)
    x=int(x)
    return x

In [27]:
df=pd.read_csv('问题1-附件15.csv').drop(columns=[
    '年份', '轮次'
]).rename(columns={
    '干重(g)': 'w',
    '放牧小区Block': 'blk',
    '处理': 'qiangdu',
    '日期': 'time',
})
df['S'] = df.qiangdu.apply(parseQiangdu)
df=df.drop(columns='qiangdu')
df.to_csv('问题1-附件15-小区生物量放牧强度.csv')
df

           time  blk        w   S
0    2016-06-01  G11   363.80   6
1    2016-06-01  G16   320.09   6
2    2016-06-01   G8   383.44   6
3    2016-06-01  G17   297.32   0
4    2016-06-01  G19   259.70   0
..          ...  ...      ...  ..
293  2020-09-17  G18  1198.35   3
294  2020-09-17   G6  1597.61   3
295  2020-09-17  G13  1062.98  12
296  2020-09-17  G20   787.06  12
297  2020-09-17   G9   740.23  12

[298 rows x 4 columns]

In [29]:
# 若每个小区每个强度在一天内有多组数据，视为多次重复实验，取平均值。
df_ = df.groupby(['time', 'blk', 'S']).mean().reset_index()
len(df_), len(df)

(298, 298)

In [30]:
# 消除不同的小区，相同强度的小区取平均值。
df_ = df.groupby(['time', 'S']).mean().reset_index()
len(df_), len(df)

(100, 298)

In [32]:
df=df_
df.set_index('time').groupby('S').resample('1M').

          time   S            w
0   2016-06-01   0   290.053333
1   2016-06-01   3   349.070000
2   2016-06-01   6   355.776667
3   2016-06-01  12   430.590000
4   2016-06-21   0   487.780000
..         ...  ..          ...
95  2020-08-14  12   767.096667
96  2020-09-17   0   897.293333
97  2020-09-17   3  1415.590000
98  2020-09-17   6  1148.493333
99  2020-09-17  12   863.423333

[100 rows x 3 columns]